<script setup>
import { onMounted } from 'vue';
import ModalCreate from './components/ModalCreate.vue';
import ModalDelete from './components/ModalDelete.vue';
import ModalUpdate from './components/ModalUpdate.vue';
import TableKontakte from './components/TableKontakte.vue';
import { useKontakteStore } from './stores/kontakte.js';
import { useModalCreateStore } from './stores/modalCreate.js';

const kontakte = useKontakteStore();
const modalCreate = useModalCreateStore();

function buttonNewClick() {
  modalCreate.show();
}

onMounted(() => {
  kontakte.load();
});
</script>

<template>
  <div class="app">
    <header>
      <h1>T3A-Kontakte</h1>
    </header>

    <main>
      <TableKontakte />
      <button @click="buttonNewClick">Neuen Kontakt hinzufügen</button>
      <ModalCreate />
      <ModalDelete />
      <ModalUpdate />
    </main>
  </div>
</template>

<style scoped>
.app {
  background-color: darkcyan;
  box-shadow: 2px 2px 2px black;
  padding-bottom: 1em;
}

h1 {
  padding: 0.5em;
  text-shadow: 2px 2px 2px white;
}
</style>
